// 背景色
@mixin bg-color($key) {
    background-color: map-get($colors-light, $key);

    [data-theme="dark"] & {
        background-color: map-get($colors-dark, $key);
    }
}

// 文字色
@mixin text-color($key) {
    color: map-get($colors-light, $key);

    [data-theme="dark"] & {
        color: map-get($colors-dark, $key);
    }
}